<section class="contato">
    <ul>
        <img [src]="avatar" alt="Avatar" routerLink="/perfil-contato"/>
        <li>
            <strong>{{ nome }}</strong>
        </li>
        <li>{{ telefone }}</li>
        <li>
            <button class="pencil-button" [routerLink]="['/formulario', id]">
                <img src="/pencil-square.png" alt="Botao de editar">
            </button>
            <button class="trash-button" [routerLink]="['/perfil-contato', id]">
                <img src="/trash.png" alt="Botao de excluir">
            </button>
        </li>
    </ul>
</section>